option {
    color: black;
    background-color: white;
    border-radius: 0!important;
}

option:hover {
    color: white!important;
    background-color: black!important;
}

select, input {
    color: white;
    background-color: black;
    width: 100%!important;
    border: 1px solid white!important;
    padding: 10px!important;
    border-radius: 0!important;
}

.chakra-form-control {
    margin-top: 20px!important;
}