.image-gallery-icon {
  color: #D4B4B4; /* brand.primary */
}

.image-gallery-icon:hover {
  color: #EAC7C7; /* brand.accent */
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:hover,
.image-gallery-thumbnail:focus {
  border: 4px solid #D4B4B4; /* brand.primary */
}
